<h1 display-4>Controle de estoque</h1>
<p class="lead">Aqui você pode gerenciar seus produtos com a maior facilidade.</p>

<hr>

<div class="row">
  <div class="col-12">
    <table *ngIf="Usuarios && Usuarios.length > 0">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Nome</th>
          <th class="text-center">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of Usuarios; let i = index">
          <td class="text-center mr-3">{{usuario.id}}</td>
          <td class="text-center mr-3">{{usuario.nome}}</td>
          <td class="text-center mr-3">{{usuario.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Selecione qual procedimento deseja realizar:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <button class="btn btn-primary" type="button" (click)="CadastrarProduto()">Cadastrar Produto</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary" type="button" (click)="ConsultarProduto()">Consultar Produto</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary" type="button" (click)="EditarProduto()">Editar Produto</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <button class="btn btn-primary" type="button" (click)="AdicionarItemEstoque()">Adicionar item em estoque</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary" type="button" (click)="RemoverItemEstoque()">Remover item em estoque</button>
    </div>
  </div>
</div>

<div class="footer">
  <hr>
  <p class="mb-0">Integrantes: Leonardo Almeida, Richard</p>
</div>
