<div class="title">
  <h1>Estoque: {{nomeEstoque}}</h1>
  <p class="lead">Verifique abaixo os produtos cadastrado em seu estoque.</p>
</div>

<div class="row">
  <div class="col-sm-3 text-center">
    <button class="btn btn-primary btn-block" type="button" (click)="showProdutos()">Adicionar Produtos em
      estoque</button>
  </div>
  <div class="col-sm-1 text-center">
    <button class="btn btn-danger btn-block" type="button" (click)="showProdutos()"
      *ngIf="showProdutoSemEstoque">Voltar</button>
  </div>

</div>

<div class="container-fluid justify-content">
  <div class="row justify-content my-3" *ngIf="!showProdutoSemEstoque">
    <div class=" table-responsive-sm col-12">

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Preço Unitário</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Estoque</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of produtos; let i = index">
          <tr>
            <th class="text-center" scope="row">{{i+1}}</th>
            <td class="text-center">{{produto.nome}}</td>
            <td class="text-center">{{produto.marca}}</td>
            <td class="text-center">{{produto.categoria}}</td>
            <td class="text-center">{{produto.precoUnitario}}</td>
            <td class="text-center">{{produto.quantidade}}</td>
            <td class="text-center">{{produto.estoque}}</td>
            <td class="text-center">
              <button class="btn btn-outline-danger ml-2 btn-sm" type="button"
                (click)="removerProdutoEstoque(produto.id)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-sm-12 text-center" *ngIf="produtos.length == 0">
        <p>Nenhum produto foi adicionado ao estoque.</p>
      </div>
    </div>

  </div>

  <div class="row justify-content my-3" *ngIf="showProdutoSemEstoque">
    <div class=" table-responsive-sm col-12">

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Preço Unitário</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Estoque</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody *ngFor="let produtoEStoque of produtosSemEstoque; let i = index">
          <tr>
            <th class="text-center" scope="row">{{i+1}}</th>
            <td class="text-center">{{produtoEStoque.nome}}</td>
            <td class="text-center">{{produtoEStoque.marca}}</td>
            <td class="text-center">{{produtoEStoque.categoria}}</td>
            <td class="text-center">{{produtoEStoque.precoUnitario}}</td>
            <td class="text-center">{{produtoEStoque.quantidade}}</td>
            <td class="text-center">{{produtoEStoque.estoque}}</td>
            <td class="text-center">
              <button class="btn btn-outline-primary btn-sm" type="button"
                (click)="adicionarProdutoEstoque(produtoEStoque.id)">Adicionar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>