<h1 display-4>Controle de estoque</h1>

<p class="lead">Aqui você pode gerenciar seus produtos com a maior facilidade.</p>

<hr>

<div class="row justify-content-sm-center col-12">
  <p>Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Per aumento de cachacis, eu reclamis. Não sou faixa
    preta cumpadi, sou preto inteiris, inteiris. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
  </p>
</div>

<!-- <div class="row">
  <div class="col-12">
    <table *ngIf="Usuarios && Usuarios.length > 0">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Nome</th>
          <th class="text-center">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of Usuarios; let i = index">
          <td class="text-center mr-3">{{usuario.id}}</td>
          <td class="text-center mr-3">{{usuario.nome}}</td>
          <td class="text-center mr-3">{{usuario.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="conteiner justify-content-sm-center mt-5" style="margin-bottom: 20px;">

  <div class="row">
    <div class="col-12 mb-3">
      <h4>TEXTO</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Posuere libero varius. Nullam a nisl
        ut ante blandit hendrerit. Aenean sit amet nisi. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie
        leo, vitae iaculis nisl. Pra lá , depois divoltis porris, paradis.
  
        Quem num gosta di mé, boa gentis num é. Leite de capivaris, leite de mula manquis sem cabeça. Detraxit consequat
        et quo num tendi nada. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
  
        Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Quem manda na minha terra sou
        euzis! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mais vale um
        bebadis conhecidiss, que um alcoolatra anonimis.</p>
    </div>
  </div>

</div>

<blockquote class="blockquote text-center">
  <hr>
  <a class="mb-0"><strong>Criado por: </strong></a><a>Leonardo e Richard</a>
  <footer class="blockquote-footer mb-2">MULTIVX - Vitória</footer>
</blockquote>
